.containerAllHome {
  height: 100%;
  /* display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 25px;
  color: rgb(222, 235, 241);
  text-shadow: -4px -2px #222;
  gap: 0px; */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(
      to left,
      hsla(207, 34%, 25%, 0.8),
      hsla(202, 34%, 25%, 0.8)
    ),
    url("../../assets/images/background-home.jpg");

  justify-content: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  /* background-color: #ffeeff25; */
  padding: 50px 0;
  height: max-content;
}

.linkCard {
  text-decoration: none;
}

.loading {
  /* width: 500px; */
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #11111125; */
}

.loading img {
  width: 200px;
  height: 200px;
}

.loading h3 {
  color: #fff;
}
