.containerAllHome {
  min-height: 100vh;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(
      to left,
      hsla(341, 64%, 22%, 0.616),
      hsla(204, 42%, 33%, 0.623)
    ),
    url("../../assets/images/background-home.jpg");

  justify-content: center;
  margin: 0;
  padding: 0;
}

.navBar {
  background-color: #202741fb;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  box-shadow: 2px 5px 10px #000;
}

.titleHome {
  /* border: 1px solid #fff; */
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.buttonRefresh {
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(68, 68, 124);
  color: #fff;
  font-size: 16px;
}

.buttonRefresh:hover {
  cursor: pointer;
  background-color: rgb(84, 84, 155);
  transition: 0.3s;
}

.titleHome h1 {
  /* border: 1px solid #ff0; */
  font-family: monospace;
  font-style: italic;
  text-shadow: 5px 5px 5px rgb(167, 87, 87);
  color: #fff;
  font-size: 35px;
  margin: 0;
  margin-bottom: 10px;
}

.containerAllMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .containerFilter {
  border: 1px solid #fff;
} */

.containerFilter select {
  height: 30px;
  /* width: 130px; */
  font-size: 17px;
  background-color: #444;
  color: #ddd;
  border-radius: 3px;
}

.containerFilter select:hover {
  cursor: pointer;
  background-color: #333;
}

.containerButtonCreate button {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(136, 18, 18);
  color: #fff;
}

.containerButtonCreate button:hover {
  cursor: pointer;
  background-color: rgb(175, 46, 46);
  transition: 0.3s;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  /* background-color: #ffeeff25; */
  padding: 170px 0;
  height: max-content;
  width: 80%;
  /* border: 1px solid #fff; */
  margin: auto;
}

.linkCard {
  text-decoration: none;
}

.loading {
  /* width: 500px; */
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #11111125; */
}

.loading img {
  width: 200px;
  height: 200px;
}

.loading h3 {
  color: #fff;
}
