.containerCreateVideogame {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  background-image: linear-gradient(
      to left,
      hsla(207, 43%, 18%, 0.8),
      hsla(201, 25%, 23%, 0.8)
    ),
    url("../../assets/images/background-home.jpg");
  min-height: 100vh;
  height: 100%;
  color: #fff;
  padding-bottom: 100px;
}

.goBackHome {
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid #555;
  color: #fff;
  background-color: #222;
  font-family: monospace;
  font-size: 20px;
}

.goBackHome:hover {
  background-color: #111;
  transition: 0.5s;
  cursor: pointer;
}

.title {
  font-family: monospace;
  font-style: italic;
  text-shadow: 5px 5px 5px rgb(167, 87, 87);
  margin-bottom: 20px;
  margin-top: 10px;
}

.formCreateVideogame {
  padding: 10px 50px 50px 50px;
  border: 1px solid #555;
  border-radius: 10px;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  background-color: #222222;
  box-shadow: -8px -8px 10px #111;
}

.containerInputsAndSelects {
  display: flex;
  justify-content: space-around;
}

.containerOne,
.containerTwo {
  width: 50%;
}

.containerTwo {
  padding-top: 30px;
}

.containerInputs {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.labels {
  text-transform: capitalize;
  width: 100%;
  font-size: 19px;
  color: #ccc;
  padding-left: 3px;
}

.inputs {
  width: 95%;
  height: 30px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #111;
  color: #fff;
  font-size: 17px;
}

.inputs:focus {
  outline: 0.5px solid rgb(182, 176, 90);
}

.inputs::placeholder {
  text-transform: capitalize;
  font-style: italic;
  padding-left: 5px;
  color: #444;
}

.textarea {
  min-width: 95%;
  max-width: 95%;
  min-height: 100px;
  max-height: 150px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #111;
  color: #fff;
  font-size: 17px;
  resize: none;
}

.textarea:focus {
  outline: 0.5px solid rgb(182, 176, 90);
}

.textarea::placeholder {
  text-transform: capitalize;
  font-style: italic;
  padding-left: 5px;
  color: #444;
}

.textarea::-webkit-scrollbar {
  -webkit-appearance: none;
}

.textarea::-webkit-scrollbar:vertical {
  width: 9px;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: #313d47;
  border-radius: 5px;
  border: 1px solid #46701e;
}

.inputs[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  padding-right: 5px;
}

.inputs[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.containerSelects {
  width: 80%;
  margin: auto;
  text-align: start;
  margin-bottom: 10px;
}

.selects {
  height: 30px;
  width: 50%;
  background-color: #111;
  color: #fff;
  font-size: 17px;
  border-radius: 3px;
}

.selectEmpty {
  margin: 0;
  font-size: 15px;
  color: #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selects::-webkit-scrollbar {
  -webkit-appearance: none;
}

.selects::-webkit-scrollbar:vertical {
  width: 1px;
}

.selects::-webkit-scrollbar:horizontal {
  width: 1px;
}

.selects::-webkit-scrollbar-thumb {
  background-color: #313d47;
  border-radius: 5px;
  border: 1px solid #46701e;
}

.selects:hover {
  cursor: pointer;
  background-color: #333;
  transition: 0.5s;
}

.containerLiSelects {
  border: 1px solid #555;
  border-radius: 5px;
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
}

.liSelects {
  border: 1px solid #555;
  background-color: #444;
  border-radius: 5px;
  width: max-content;
  padding: 5px;
  padding-right: 3px;
  display: flex;
}

.liSelects button {
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  background-color: #f00;
  color: #fff;
}

.liSelects button:hover {
  cursor: pointer;
  background-color: rgb(117, 18, 18);
  transition: 0.5s;
}

.containerPreviousImage h4 {
  margin: 25px 0 5px 0;
  font-weight: normal;
  font-style: italic;
  color: #888888;
  pointer-events: none;
}

.previousImage {
  width: 200px;
  height: 200px;
  border: 1px solid #444444;
  border-radius: 5px;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-color: #111;
  pointer-events: none;
}

.previousImage img {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 5px;
  color: #777777;
}

.errorsMessages {
  margin: 0;
  padding-left: 3px;
  font-size: 13px;
  color: rgb(202, 105, 105);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerSubmit {
  border-radius: 5px;
  width: max-content;
  margin: auto;
  position: relative;
  margin-top: 10px;
}

.containerSubmit p {
  border: 1px solid #777;
  border-radius: 5px;
  width: max-content;
  margin: 5px auto;
  padding: 2px 5px;
  background-color: #ffffff;
  color: #222222;
  position: absolute;
  top: -35px;
  visibility: hidden;
}

.containerSubmit:hover p {
  visibility: visible;
}

.buttonSubmit {
  height: 35px;
  font-size: 18px;
  border: 1px solid #777;
  border-radius: 5px;
  background-color: rgb(117, 45, 45);
  color: #ffffff;
}

.buttonSubmit:hover {
  cursor: pointer;
  background-color: rgb(80, 12, 12);
  border-color: #555;
  transition: 0.3s;
}

.buttonSubmit:disabled {
  background-color: rgb(194, 151, 151);
}

.buttonSubmit:disabled:hover {
  cursor: no-drop;
}
