.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(222, 235, 241);
  font-family: monospace;
  font-size: 25px;
  text-shadow: -4px -2px #222;
  gap: 0px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(
      to left,
      hsla(341, 64%, 22%, 0.678),
      hsla(204, 42%, 33%, 0.719)
    ),
    url("../../assets/images/landing-background.gif");

  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-style: italic;
  text-shadow: 5px 5px 5px rgb(167, 87, 87);
}

.container h2 {
  font-weight: bold;
  font-size: 40px;
  text-shadow: 5px 5px 5px #000;
}

.containerButtonHome {
  border-radius: 10px;
  width: max-content;
}

.buttonHome {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #999;
  background-color: #22222290;
  color: #fff;
}

.buttonHome:hover {
  background-color: #00000090;
  transition: 0.5s;
  cursor: pointer;
}
