.titleHome {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.buttonRefresh {
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(68, 68, 124);
  color: #fff;
  font-size: 16px;
}

.buttonRefresh:hover {
  cursor: pointer;
  background-color: rgb(84, 84, 155);
  transition: 0.3s;
}

.titleHome h1 {
  font-family: monospace;
  font-style: italic;
  text-shadow: 5px 5px 5px rgb(167, 87, 87);
  color: #fff;
  font-size: 35px;
  margin: 0;
  margin-bottom: 10px;
}

.containerAllMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.containerFilter select {
  height: 30px;
  /* width: 130px; */
  font-size: 17px;
  background-color: #444;
  color: #ddd;
  border-radius: 3px;
}

.containerFilter select:hover {
  cursor: pointer;
  background-color: #333;
}

.containerButtonCreate button {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(136, 18, 18);
  color: #fff;
}

.containerButtonCreate button:hover {
  cursor: pointer;
  background-color: rgb(175, 46, 46);
  transition: 0.3s;
}
